@font-face {
    src: url("../fonts/KingsCaslon.ttf");
}

@font-face {
    src: url("../fonts/KingsCaslonItalic.ttf");
}

@font-face {
    src: url("../fonts/KingsCaslonSemiBold.ttf");
}

@font-face {
    src: url("../fonts/KingsCaslonSemiBoldItalic.ttf");
}

@font-face {
    src: url("../fonts/KingsBureauGrot-FiveOne.ttf");
}

@font-face {
    src: url("../fonts/KingsBureauGrot-FiveOneItal.ttf");
}

@font-face {
    src: url("../fonts/KingsBureauGrot-ThreeSeven.ttf");
}

@font-face {
    src: url("../fonts/KingsBureauGrot-ThrSevnItal.ttf");
}
