#tabHBox {
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-padding: 10px 0px 10px 0px;
}

/*#leftVBox {*/
/*    -fx-alignment: center;*/
/*    -fx-padding: 10px 10px 10px 0px;*/
/*}*/

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color: rgba(9,45,80,0.5);
}

.tab:selected {
    -fx-text-alignment: center;
    -fx-effect: innershadow(one-pass-box, rgba(50,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: #092D50;
    -fx-stroke: white;
    -fx-font-family: "KingsBureauGrot-ThreeSeven";
}

.tab .tab-container .tab-label {
    -fx-text-fill: white;
}

.tab:selected .focus-indicator {-fx-border-color: transparent}

.tab {
    -fx-background-color: rgba(9,45,80,0.5);
    -fx-font-size: 15px;
    -fx-font-family: "KingsBureauGrot-FiveOne";
    -fx-background-radius: 4;
}

#nameLabel {
    -fx-padding: 20px 10px 10px 10px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: "KingsBureauGrot-FiveOne";
    -fx-text-fill: #092D50;
    -fx-max-width: 300px;
}

/*#rightVBox {*/
/*    -fx-alignment: center-left;*/
/*    -fx-padding: 10px 0px 10px 10px;*/
/*}*/

.label {
    -fx-padding: 10px 5px 10px 5px;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: "KingsBureauGrot-FiveOne";
    -fx-text-alignment: left;
    -fx-wrap-text: true;
}

#boldText {
    -fx-text-fill: #092D50;
    -fx-font-family: "KingsBureauGrot-ThreeSeven";
}

.button {
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-family: "KingsBureauGrot-FiveOne";
    -fx-background-color: #092D50;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #092D50;
    -fx-border-radius: 3px;
    -fx-padding: 10px;
    -fx-background-radius: 3px;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, gray, 15, 0, 0, 0);
}

.button:pressed{
    -fx-background-color: rgba(9, 45, 80, 0.67);
}

.left-button {
    -fx-image: url("../images/statistics-left.png");
}

.right-button {
    -fx-image: url("../images/statistics-right.png");
}

.left-button:pressed {
    -fx-image: url("../images/statistics-left-red.png");
}

.right-button:pressed {
    -fx-image: url("../images/statistics-right-red.png");
}